<h2>Therapie toevoegen</h2>
<%= simple_form_for(@therapy) do |f| %>
    <%= f.input :name %>
    <%= f.input :description, style: 'height: 100px;' %>
    <%= f.button :submit, class: 'btn btn-fluid' %>
<% end %>