<div class="row">
    <a class="span6 btn-big colleagues-icon-big" href="<%= site_url 'colleagues' %>">Collega's</a>
    <a style="margin-right: 0; margin-left: 0;" class="span6 btn-big clients-icon-big" href="<%= site_url 'clients' %>">Cliënten</a>
</div>
<div class="row">
    <a class="span6 btn-big therapies-icon-big" href="<%= site_url 'therapies' %>">Therapieën</a>
    <a style="margin-right: 0; margin-left: 0;" class="span6 btn-big agenda-icon-big" href="<%= site_url 'agenda' %>">Agenda</a>
</div>