     <table class="table table-striped">
       <thead>
           <th>Naam</th>
           <th>Omschrijving</th>
       </thead>
       <tbody>
       <% @therapies.each do |therapy| %>
           <tr>
             <td><%= therapy.name %></td>
             <td><%= therapy.description  %></td>
           </tr>
       <% end %>
       </tbody>
     </table>
