<h2>Oefeningen toevoegen</h2>
<a href="<%= new_exercise_path(id: params[:id]) %>" class="btn">Een nieuwe oefening toevoegen</a>
<a href="<%= add_existing_exercises_path(id: params[:id]) %>" class="btn">Bestaande oefening(en) toevoegen</a>