<footer class="footer">
  <div class="logo_container" style="float: right;">
    <div style="margin: 0 auto; display: table;">
      <div style="float: left;">
        <%= image_tag('logo.png', style: 'height: 75px; margin-top: -45px;') %>
      </div>
      <div style="float: left;">
        <p><strong style="font-size: 3em; margin-top: 60px; margin-left: 5px;">adelante</strong></p>
      </div>
    </div>
  </div>
</footer>