<div class="logo_container" style="margin-top: 15px;">
  <div style="margin: 0 auto; display: table;">
      <div style="float: left;">
        <%= image_tag('logo.png', style: 'height: 75px;') %>
      </div>
      <div style="float: left; margin-top: 40px;">
        <p><strong style="font-size: 3em; margin-top: 60px; margin-left: 5px; color: #ffffff;">adelante</strong></p>
        <p style="float: right; font-size: 1.5em; margin-top: -20px; margin-left: 15px; color: #ffffff;">e-helper</p>
      </div>
  </div>
</div>