<div class="logo_container">
  <div style="margin: 0 auto; display: table; padding-right: 100px;">
      <div style="float: left;">
        <%= image_tag('logo.png', style: 'height: 100px; margin-top: -55px;') %>
      </div>
      <div style="float: left;">
        <p><strong style="font-size: 4em; margin-top: 60px; margin-left: 5px;">adelante</strong></p>
        <p style="float: right; font-size: 2em; margin-top: -20px; margin-left: 15px;">haal het beste uit jezelf</p>
      </div>
  </div>
</div>